# Ignore node_modules
node_modules/

# Ignore dist build
dist/

# Ignore env files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Windows system folders
AppData/
Documents/
Downloads/
OneDrive/
